In [1]:
import pandas as pd 
import os 
import json 
import numpy as np

### Carregando o dataset de originações de pagamentos

In [2]:
path_base_originations = "originations/originations/"

In [3]:
list_filenames = os.listdir(path_base_originations)

In [4]:
df_originations = pd.DataFrame() 

for files in list_filenames:
    path_filename = path_base_originations + files 
    
    with open(path_filename, 'r') as f:
        data = f.readlines()
        
        if len(data) != 0:
            for i in json.loads(data[0])["installments"]:
                
                i["originationId"] = json.loads(data[0])["originationId"]
                i["clientId"] = json.loads(data[0])["clientId"]
                i["registerDate"] = json.loads(data[0])["registerDate"]
                
                
                df_originations = df_originations.append(i, ignore_index=True)

In [5]:
df_originations[df_originations["clientId"] == "1452324b8c1696b6063a7c0a822edb09"]

,installmentId,dueDate,installmentValue,originationId,clientId,registerDate
0,a46b1e1e7467f67de3df60c575aa11e4,2021-09-15T00:00:00,75.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
1,aca3c0f340fa42768406b6f962f19a63,2021-06-15T00:00:00,75.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
2,e9368332858b08205e79a04e4e771a7a,2022-03-15T00:00:00,59.98,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
3,5ed999c13e502fef9fcdf732e62dabd9,2022-01-15T00:00:00,59.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
4,c40acfcf7f5de1eecae0b4c7f6967f7b,2021-07-15T00:00:00,75.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
5,ed4eb474469001beb0418e69a7283627,2021-11-15T00:00:00,59.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
6,f6d1bbe0c900a9113469fea1571d8856,2021-12-15T00:00:00,59.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
7,9c3cc87b468fb5ecb6717655d161ae84,2022-02-15T00:00:00,59.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
8,7e57e92b5e339f074e6d0cdc03c9eaee,2021-10-15T00:00:00,75.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
9,27eed68dfabdedf8b0326efbfd9f6108,2021-08-15T00:00:00,75.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21T00:00:00
2140,9f794b558cf61af1786423069b162b18,2022-03-15T00:00:00,97.98,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00
2141,b4522bd04799e517939af161adfa8ada,2021-09-15T00:00:00,97.98,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00
2142,d08d7a52b592107119649575aba95585,2022-04-15T00:00:00,98.03,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00
2143,4f01ae4bbb00c9bbb09ca5982159447a,2022-02-15T00:00:00,97.98,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00
2144,73a2adb1940b4645dfbe64a1e20354ea,2021-10-15T00:00:00,97.98,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00
2145,f414def23aac1b5cf2d1f15d349c4a7d,2021-08-15T00:00:00,97.98,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00
2146,1b24a7b8d93be43728f99c00bd0c3cf5,2022-01-15T00:00:00,97.98,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00
2147,17e796ed1a65ab8958810f24b3472b41,2021-07-15T00:00:00,97.98,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00
2148,9dfeb228a10db4f2e99b34bd9ec36f69,2021-11-15T00:00:00,97.98,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00
2149,398e6f8ac21b25d5264afe987018bd56,2021-12-15T00:00:00,97.98,dd19c0262272da454fa24ede70d25a33,1452324b8c1696b6063a7c0a822edb09,2021-06-06T00:00:00

### Realizando transformações de datas

In [8]:
df_originations["registerDate"] = pd.to_datetime(df_originations["registerDate"])

df_originations["registerDateYearMonth"] = df_originations["registerDate"].dt.strftime("%Y-%m")
df_originations["registerDateDay"] = df_originations["registerDate"].dt.day


df_originations["dueDate"] = pd.to_datetime(df_originations["dueDate"])

df_originations["dueDateYearMonth"] = df_originations["dueDate"].dt.strftime("%Y-%m")
df_originations["dueDateDay"] = df_originations["dueDate"].dt.day

### Verificando o número de meses

In [9]:
days = np.timedelta64((df_originations["registerDate"].max() - df_originations["registerDate"].min()), 'D').astype(int)

print("Número de meses = ", round(days / 30))

Número de meses =  6

In [10]:
df_originations

,installmentId,dueDate,installmentValue,originationId,clientId,registerDate,registerDateYearMonth,registerDateDay,dueDateYearMonth,dueDateDay
0,a46b1e1e7467f67de3df60c575aa11e4,2021-09-15,75.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21,2021-04,21,2021-09,15
1,aca3c0f340fa42768406b6f962f19a63,2021-06-15,75.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21,2021-04,21,2021-06,15
2,e9368332858b08205e79a04e4e771a7a,2022-03-15,59.98,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21,2021-04,21,2022-03,15
3,5ed999c13e502fef9fcdf732e62dabd9,2022-01-15,59.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21,2021-04,21,2022-01,15
4,c40acfcf7f5de1eecae0b4c7f6967f7b,2021-07-15,75.99,013d09c9533b7f48c3c2861c0cea56df,1452324b8c1696b6063a7c0a822edb09,2021-04-21,2021-04,21,2021-07,15
...,...,...,...,...,...,...,...,...,...,...
2449,8c0245abd50945f8e54ed868167bced6,2021-09-10,12.79,ff94972fd61fb0f26c7fb1634010cd97,83f62d7630c968c654129afa4c7136a6,2021-04-30,2021-04,30,2021-09,10
2450,99de6cc870a21dbf57070cdc008caabe,2021-08-10,12.79,ff94972fd61fb0f26c7fb1634010cd97,83f62d7630c968c654129afa4c7136a6,2021-04-30,2021-04,30,2021-08,10
2451,d68cef03a43053668aba975cf1612655,2021-06-10,12.79,ff94972fd61fb0f26c7fb1634010cd97,83f62d7630c968c654129afa4c7136a6,2021-04-30,2021-04,30,2021-06,10
2452,9ddcd716194b1ef616ed50b7dfe46ba9,2021-07-10,12.79,ff94972fd61fb0f26c7fb1634010cd97,83f62d7630c968c654129afa4c7136a6,2021-04-30,2021-04,30,2021-07,10
2453,e2b9b0d54aa10591a2156bc762bc7d06,2021-10-10,12.81,ff94972fd61fb0f26c7fb1634010cd97,83f62d7630c968c654129afa4c7136a6,2021-04-30,2021-04,30,2021-10,10

In [11]:
df_originations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2454 entries, 0 to 2453
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   installmentId          2454 non-null   object
 1   dueDate                2454 non-null   datetime64[ns]
 2   installmentValue       2454 non-null   object
 3   originationId          2454 non-null   object
 4   clientId               2454 non-null   object
 5   registerDate           2454 non-null   datetime64[ns]
 6   registerDateYearMonth  2454 non-null   object
 7   registerDateDay        2454 non-null   int64
 8   dueDateYearMonth       2454 non-null   object
 9   dueDateDay             2454 non-null   int64
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 191.8+ KB

### Carregando o dataset de pagamentos

In [12]:
df_originations["installmentValue"] = df_originations["installmentValue"].astype(float)

In [13]:
path_base_payments = "payments/payments/"

In [14]:
list_filenames = os.listdir(path_base_payments)

In [15]:
df_payments = pd.DataFrame() 

for files in list_filenames:
    path_filename = path_base_payments + files 
    
    with open(path_filename, 'r') as f:
        data = f.readlines()
        
        if len(data) != 0:
            df_payments = df_payments.append(pd.DataFrame([json.loads(data[0])]))

In [16]:
df_payments

,paymentId,installmentId,paymentDate,paymentValue
0,00460a90b4bcfa531fd67f92e36b8250,6cd15056c6ac8d7ebb87d78b370e2691,2021-11-06T00:00:00,35.17
0,004f2792e796e697b9dc02c3185f99bd,40e4682fcf92285f310cdeca49363113,2021-12-13T00:00:00,27.99
0,005b4f3dd2a467a4d46fb7d3aba09540,3d92f1ecf4f179d117b6c940924b96ad,2021-10-14T00:00:00,19.50
0,006f40f30e1fbcd381a07275aa3e4a5b,721a321ee25f2d2fd37ebb1d8fb66984,2021-03-04T00:00:00,42.99
0,0073fcab0ef75f624e157a6b590e4cbc,9fc400cdf83a7347340fb5d8491f1179,2021-07-02T00:00:00,58.49
...,...,...,...,...
0,ff65526726d353a97b6339ddc51776c2,5f17b344a67687b09419063f7eccb963,2021-09-10T00:00:00,111.98
0,ff7d1a067b3c3c923249f62d6784d52a,547ef9462374e9615ea55f5dfc68a18e,2021-11-05T00:00:00,181.98
0,ffb80ec4022af8a87334dd9399663266,2fae6c562e55d40af9aefc65c7604894,2021-07-12T00:00:00,99.69
0,ffba46ac27d00923423a69c0a1a2f410,24e29625c5272d27b85e63b3e76dcda4,2021-08-14T00:00:00,30.79
0,fffce1fe1889bfa2a20899efc20cbc76,0b346705878f23f96a23389cf80d1da0,2021-08-04T00:00:00,17.00

In [17]:
df_payments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2054 entries, 0 to 0
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   paymentId      2054 non-null   object
 1   installmentId  2054 non-null   object
 2   paymentDate    2054 non-null   object
 3   paymentValue   2054 non-null   object
dtypes: object(4)
memory usage: 80.2+ KB

In [18]:
df_payments["paymentValue"] = df_payments["paymentValue"].astype(float)

In [19]:
df_payments["paymentDate"] = pd.to_datetime(df_payments["paymentDate"])

In [20]:
df_payments["paymentYearMonth"] = df_payments["paymentDate"].dt.strftime("%Y-%m")
df_payments["paymentDay"] = df_payments["paymentDate"].dt.day

In [21]:
df_payments

,paymentId,installmentId,paymentDate,paymentValue,paymentYearMonth,paymentDay
0,00460a90b4bcfa531fd67f92e36b8250,6cd15056c6ac8d7ebb87d78b370e2691,2021-11-06,35.17,2021-11,6
0,004f2792e796e697b9dc02c3185f99bd,40e4682fcf92285f310cdeca49363113,2021-12-13,27.99,2021-12,13
0,005b4f3dd2a467a4d46fb7d3aba09540,3d92f1ecf4f179d117b6c940924b96ad,2021-10-14,19.50,2021-10,14
0,006f40f30e1fbcd381a07275aa3e4a5b,721a321ee25f2d2fd37ebb1d8fb66984,2021-03-04,42.99,2021-03,4
0,0073fcab0ef75f624e157a6b590e4cbc,9fc400cdf83a7347340fb5d8491f1179,2021-07-02,58.49,2021-07,2
...,...,...,...,...,...,...
0,ff65526726d353a97b6339ddc51776c2,5f17b344a67687b09419063f7eccb963,2021-09-10,111.98,2021-09,10
0,ff7d1a067b3c3c923249f62d6784d52a,547ef9462374e9615ea55f5dfc68a18e,2021-11-05,181.98,2021-11,5
0,ffb80ec4022af8a87334dd9399663266,2fae6c562e55d40af9aefc65c7604894,2021-07-12,99.69,2021-07,12
0,ffba46ac27d00923423a69c0a1a2f410,24e29625c5272d27b85e63b3e76dcda4,2021-08-14,30.79,2021-08,14
0,fffce1fe1889bfa2a20899efc20cbc76,0b346705878f23f96a23389cf80d1da0,2021-08-04,17.00,2021-08,4

In [22]:
columns_select = ["clientId", "registerDate", "installmentId", "dueDate", "installmentValue", "paymentDate", "paymentValue"]
df_merge_client_payment = df_originations.merge(df_payments, how="left", on=["installmentId"])[columns_select]

In [23]:
df_merge_client_payment

,clientId,registerDate,installmentId,dueDate,installmentValue,paymentDate,paymentValue
0,1452324b8c1696b6063a7c0a822edb09,2021-04-21,a46b1e1e7467f67de3df60c575aa11e4,2021-09-15,75.99,2021-09-08,75.99
1,1452324b8c1696b6063a7c0a822edb09,2021-04-21,aca3c0f340fa42768406b6f962f19a63,2021-06-15,75.99,2021-06-04,75.99
2,1452324b8c1696b6063a7c0a822edb09,2021-04-21,e9368332858b08205e79a04e4e771a7a,2022-03-15,59.98,NaT,NaN
3,1452324b8c1696b6063a7c0a822edb09,2021-04-21,5ed999c13e502fef9fcdf732e62dabd9,2022-01-15,59.99,NaT,NaN
4,1452324b8c1696b6063a7c0a822edb09,2021-04-21,c40acfcf7f5de1eecae0b4c7f6967f7b,2021-07-15,75.99,2021-07-28,75.99
...,...,...,...,...,...,...,...
2450,83f62d7630c968c654129afa4c7136a6,2021-04-30,8c0245abd50945f8e54ed868167bced6,2021-09-10,12.79,2021-09-10,12.79
2451,83f62d7630c968c654129afa4c7136a6,2021-04-30,99de6cc870a21dbf57070cdc008caabe,2021-08-10,12.79,2021-08-07,12.79
2452,83f62d7630c968c654129afa4c7136a6,2021-04-30,d68cef03a43053668aba975cf1612655,2021-06-10,12.79,2021-06-10,12.79
2453,83f62d7630c968c654129afa4c7136a6,2021-04-30,9ddcd716194b1ef616ed50b7dfe46ba9,2021-07-10,12.79,2021-07-13,12.79
2454,83f62d7630c968c654129afa4c7136a6,2021-04-30,e2b9b0d54aa10591a2156bc762bc7d06,2021-10-10,12.81,2021-10-08,12.81

### Seta a variável payment para data de hoje caso seja NaT

In [108]:
today =  lambda x: pd.to_datetime('today').normalize() if pd.isnull(x) else x

In [110]:
df_merge_client_payment.paymentDate = df_merge_client_payment.paymentDate.apply(today)

### Cria variável inadimplencia

In [24]:
#isInadimplente = lambda x: 1 if np.isnan(x) else 0
#df_merge_client_payment["isInadimplente"] = df_merge_client_payment["paymentValue"].apply(isInadimplente)

### Cria variável dias de atraso

In [158]:
# Caso número de dias seja negativo, então indica que há D dias de atrasos, nese caso, convertemos a variável para positivo
# Caso não haja atraso, então a variável vai ser um número positivo, então convertemos para 0, pois nosso objetivo é encontrar
# atrasos
lags = lambda x: 0 if x > 0 else x * (-1)

In [159]:
df_merge_client_payment["lagDays"] = (df_merge_client_payment.dueDate - df_merge_client_payment.paymentDate).dt.days.apply(lags)

In [160]:
df_merge_client_payment

,clientId,registerDate,installmentId,dueDate,installmentValue,paymentDate,paymentValue,isInadimplente,lagDays
0,1452324b8c1696b6063a7c0a822edb09,2021-04-21,a46b1e1e7467f67de3df60c575aa11e4,2021-09-15,75.99,2021-09-08,75.99,0,0
1,1452324b8c1696b6063a7c0a822edb09,2021-04-21,aca3c0f340fa42768406b6f962f19a63,2021-06-15,75.99,2021-06-04,75.99,0,0
2,1452324b8c1696b6063a7c0a822edb09,2021-04-21,e9368332858b08205e79a04e4e771a7a,2022-03-15,59.98,2022-04-13,NaN,1,29
3,1452324b8c1696b6063a7c0a822edb09,2021-04-21,5ed999c13e502fef9fcdf732e62dabd9,2022-01-15,59.99,2022-04-13,NaN,1,88
4,1452324b8c1696b6063a7c0a822edb09,2021-04-21,c40acfcf7f5de1eecae0b4c7f6967f7b,2021-07-15,75.99,2021-07-28,75.99,0,13
...,...,...,...,...,...,...,...,...,...
2450,83f62d7630c968c654129afa4c7136a6,2021-04-30,8c0245abd50945f8e54ed868167bced6,2021-09-10,12.79,2021-09-10,12.79,0,0
2451,83f62d7630c968c654129afa4c7136a6,2021-04-30,99de6cc870a21dbf57070cdc008caabe,2021-08-10,12.79,2021-08-07,12.79,0,0
2452,83f62d7630c968c654129afa4c7136a6,2021-04-30,d68cef03a43053668aba975cf1612655,2021-06-10,12.79,2021-06-10,12.79,0,0
2453,83f62d7630c968c654129afa4c7136a6,2021-04-30,9ddcd716194b1ef616ed50b7dfe46ba9,2021-07-10,12.79,2021-07-13,12.79,0,3
2454,83f62d7630c968c654129afa4c7136a6,2021-04-30,e2b9b0d54aa10591a2156bc762bc7d06,2021-10-10,12.81,2021-10-08,12.81,0,0

In [161]:
df_merge_client_payment.sort_values("lagDays", ascending=False)

,clientId,registerDate,installmentId,dueDate,installmentValue,paymentDate,paymentValue,isInadimplente,lagDays
972,b3ed3b856056396eac59b1aab17aa23a,2021-01-08,d1c51d638c4b7f062bf8a6185f6a4f47,2021-02-15,49.48,2022-04-13,NaN,1,422
958,a4ceb92fbea522d953abad016b3efacd,2021-01-12,2af8648fc01caab80ed5bf3c262ff1de,2021-03-15,179.49,2022-04-13,NaN,1,394
1434,f42b64a0ab0e6d26f8dc1da80073388f,2021-02-22,6c0b7a8cbb4dcb20eaab471f16442644,2021-04-05,301.21,2022-04-13,NaN,1,373
1196,31be68714f2a2b9a4db66dca51d81d23,2021-02-21,8ce99c26f33c8714e71e7f1e68ea848a,2021-04-10,91.42,2022-04-13,NaN,1,368
1426,f42b64a0ab0e6d26f8dc1da80073388f,2021-02-22,2aa197bf663fc7a8f7cb10446b8de6c2,2021-05-05,301.21,2022-04-13,NaN,1,343
...,...,...,...,...,...,...,...,...,...
1045,4a0326c7c8b773168ad2516f263f0be5,2021-01-09,8e357a3a066e88d961cc5af250318996,2021-06-15,29.98,2021-06-10,29.98,0,0
1044,4a0326c7c8b773168ad2516f263f0be5,2021-01-09,e13763d55c5186dcd146946abc4e0d85,2021-04-15,30.00,2021-04-12,30.00,0,0
1041,5124dd44dd48b0f92da126790b7597f4,2021-05-19,c35deef3e20d50245bca5d86f09a6fc9,2021-11-10,49.98,2021-10-29,49.98,0,0
1040,5124dd44dd48b0f92da126790b7597f4,2021-05-19,155ea7b43a52f1247504d2046682900f,2021-08-10,50.00,2021-08-08,50.00,0,0
2454,83f62d7630c968c654129afa4c7136a6,2021-04-30,e2b9b0d54aa10591a2156bc762bc7d06,2021-10-10,12.81,2021-10-08,12.81,0,0

### Funçao que verifica se o client é um bom pagador dentro do range da coorte

In [178]:
def coorte_customer_is_good_payer(dt_inicio_coorte, dt_fim_coorte, client_df):
    """
        dt_inicio_coorte: data de inicio da analise do cliente
        dt_fim_coorte: data de fim da analise do cliente
        
        client_df tem que conter os campos: dueDate, lagDays
    
    """
    date_threshold_min = pd.to_datetime(dt_inicio_coorte)
    date_threshold_max = pd.to_datetime(dt_fim_coorte)


    for index, row in client_df[client_df.dueDate >= date_threshold_min].iterrows():

        dueDate = row["dueDate"]
        lagDays = row["lagDays"]
        
        
        
        if dueDate > date_threshold_max:
            
            #print(row["clientId"], "Entrou aqui")

            break 

        # Retorna 1 se tiver pelo menos algum atraso no range especificado acima
        # Caso contrario, retorna 0 e o cliente é um bom pagador dentro da coorte
        
        # Mais de 30 dias de atraso
        #print(lagDays, 30)
        if lagDays >= 30:
            #print(row["clientId"], dueDate, date_threshold_max)
            return 1
        
    return 0

In [135]:
df_merge_client_payment[df_merge_client_payment.clientId == "8f536ab82ae799b232304e3119cfa5d3"].sort_values("dueDate")

,clientId,registerDate,installmentId,dueDate,installmentValue,paymentDate,paymentValue,isInadimplente,lagDays
891,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,fa6798eeea4b828ac943e9687048915a,2021-04-20,306.08,2021-04-19,306.08,0,1
889,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,193b147c2a5f4fd77f9a5249ac26fd3a,2021-05-20,306.08,2021-05-17,306.08,0,3
11,8f536ab82ae799b232304e3119cfa5d3,2021-05-15,89d7cb2d5e263d15c07fb772e51539b0,2021-06-20,302.35,2021-06-11,302.35,0,9
887,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,5d0cd2345e3ee3499cecf685e0e28453,2021-06-20,306.08,2021-06-11,306.08,0,9
13,8f536ab82ae799b232304e3119cfa5d3,2021-05-15,fc29e48755c4f86662a655a93caf1d21,2021-07-20,302.35,2021-07-13,302.35,0,7
888,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,a4858d9dc59aab7db8d634ce7f040dff,2021-07-20,306.08,2021-07-13,306.08,0,7
10,8f536ab82ae799b232304e3119cfa5d3,2021-05-15,f383d0dba518a23e432022d9f99b90fe,2021-08-20,302.35,2021-08-11,302.35,0,9
884,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,f2ca717e5dc1120bad81f85a8a0631f0,2021-08-20,306.08,2021-08-11,306.08,0,9
14,8f536ab82ae799b232304e3119cfa5d3,2021-05-15,3a4b299f6b9d922a94402516e02d2055,2021-09-20,302.35,2021-09-13,302.35,0,7
890,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,e817327e466f63b9b6b4d36f9e757962,2021-09-20,89.99,2021-09-13,89.99,0,7
12,8f536ab82ae799b232304e3119cfa5d3,2021-05-15,d67db6cf19445e2ae40356432dee0097,2021-10-20,302.33,2021-10-04,302.33,0,16
885,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,2ba4459e720e090461040eee507e86b3,2021-10-20,89.99,2021-10-04,89.99,0,16
886,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,963e2c7d4e333ffa031f2a4f5044574e,2021-11-20,89.99,2021-11-10,89.99,0,10
883,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,21e74f9db01b17c4cf487785c69184d5,2021-12-20,89.99,2021-12-02,89.99,0,18
892,8f536ab82ae799b232304e3119cfa5d3,2021-02-20,2c1022ccdbe423d64b9659196082d257,2022-01-20,89.99,2022-04-13,NaN,1,-83

### Analisa a coorte dos clientes nos ranges definidos

In [129]:
clients = df_merge_client_payment.clientId.unique()

### 1 mês de coorte

In [179]:
dt_inicio_coorte = "2021-01-01"
dt_fim_coorte = "2021-02-01"

dict_1_month_client = {}

for client in clients:
    
    client_df = df_merge_client_payment[df_merge_client_payment.clientId == client].sort_values("dueDate")
    
    isClientWithLags = coorte_customer_is_good_payer(dt_inicio_coorte, dt_fim_coorte, client_df)
    
    if isClientWithLags == 1:
        dict_1_month_client[client] = isClientWithLags

In [180]:
len(dict_1_month_client)

0

### 3 meses de coorte

In [186]:
dt_inicio_coorte = "2021-01-01"
dt_fim_coorte = "2021-03-01"

dict_3_month_client = {}

for client in clients:
    
    client_df = df_merge_client_payment[df_merge_client_payment.clientId == client].sort_values("dueDate")
    
    isClientWithLags = coorte_customer_is_good_payer(dt_inicio_coorte, dt_fim_coorte, client_df)
    
    if isClientWithLags == 1:
        dict_3_month_client[client] = isClientWithLags

In [187]:
dict_3_month_client

{'b3ed3b856056396eac59b1aab17aa23a': 1}

In [188]:
df_merge_client_payment[df_merge_client_payment.clientId == "b3ed3b856056396eac59b1aab17aa23a"].sort_values("lagDays", ascending=False)

,clientId,registerDate,installmentId,dueDate,installmentValue,paymentDate,paymentValue,isInadimplente,lagDays
972,b3ed3b856056396eac59b1aab17aa23a,2021-01-08,d1c51d638c4b7f062bf8a6185f6a4f47,2021-02-15,49.48,2022-04-13,NaN,1,422
1023,b3ed3b856056396eac59b1aab17aa23a,2021-05-19,5b1cad67c85eaeacf3624ccfbef6893c,2022-01-15,22.99,2022-04-13,NaN,1,88
379,b3ed3b856056396eac59b1aab17aa23a,2021-03-20,e6693f5e43c89e7c9aa8f54e8e60ef9c,2022-01-15,4.60,2022-04-13,NaN,1,88
1020,b3ed3b856056396eac59b1aab17aa23a,2021-05-19,c71814ca8581479e1bbb3e09b9473e29,2022-02-15,22.99,2022-04-13,NaN,1,57
381,b3ed3b856056396eac59b1aab17aa23a,2021-03-20,7d16e7f8a0b455f071e716261d30b53b,2022-02-15,4.56,2022-04-13,NaN,1,57
...,...,...,...,...,...,...,...,...,...
935,b3ed3b856056396eac59b1aab17aa23a,2021-04-05,861c7db1ea41f87f52cd824c63c1fa07,2021-05-15,22.48,2021-05-07,22.48,0,0
934,b3ed3b856056396eac59b1aab17aa23a,2021-04-05,b9254c2c06345b1665f550d471511385,2021-06-15,22.47,2021-06-03,22.47,0,0
806,b3ed3b856056396eac59b1aab17aa23a,2021-04-24,e573f497408196ae837fbf58717594af,2021-07-15,65.98,2021-06-03,65.98,0,0
805,b3ed3b856056396eac59b1aab17aa23a,2021-04-24,4b11019ce28968ff92edd982cdb4a6f3,2021-09-15,65.98,2021-09-04,65.98,0,0
2348,b3ed3b856056396eac59b1aab17aa23a,2021-03-22,aa38f4f3e2e4d6bbb7600f0f9a936135,2021-06-15,19.48,2021-06-03,19.48,0,0

In [ ]:
### Dentro de 1 mês, quantos clientes estão com inadiplencia?
### Dentro de 3 meses, quantos clientes estão com inadiplencia?

In [ ]:
over 30 - mob -1 
mede saldo devedor das operacoes em atraso acim de 30 dias , so nao entendi se no primeiro ou ultimo mes
over30 -mob-3 
mede saldo devedor das operações em atraso acima de 30 dias dos ultimos 3 meses 

ever30 
mede a quantidade de operacoes que apresenta atraso nas parcelas superiores a 30 dias nos primeiros 3 meses